#Lintaiignore file
.lintaiignore

# Python virtualenvs
.env
.venv
env/
venv/

# Python bytecode
__pycache__/
*.py[cod]
*.so

# Editor / tooling
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Packaging
*.egg-info/
.eggs/
dist/
lintaienv/
build/
*.egg

# Coverage / test
.tox/
.coverage
coverage.xml
htmlcov/
.stestr/
.cache/
pytest_cache/

#UI build artifacts and dependencies
lintai/ui/frontend/dist/
lintai/ui/frontend/node_modules/


# Docs
doc/build/
*.log

# Misc
*.bak
*.tmp
*.orig
*.rej
*.patch
