###############################################
#  Lintai – example .env for LLM providers    #
###############################################

# -------------------------------------------------
# 0) Set budget constraints for tool's LLM usage
# -------------------------------------------------
# Total prompt+completion
LINTAI_MAX_LLM_TOKENS=50000
# Hard $ cap
LINTAI_MAX_LLM_COST_USD=10.00
# Runaway llm use safety-valve
LINTAI_MAX_LLM_REQUESTS=500

# -------------------------------------------------
# 1) Select provider (openai | azure | anthropic | gemini | cohere | dummy)
# -------------------------------------------------
LINTAI_LLM_PROVIDER=openai

# -------------------------------------------------
# 2) Set the LLM API Key for your selected provider
# -------------------------------------------------
LLM_API_KEY=sk-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx


# -------------------------------------------------
# 3) Set the optional LLM parameters for your LLM
# -------------------------------------------------
LLM_MODEL_NAME=gpt-4.1-mini
LLM_ENDPOINT_URL=https://api.openai.com/v1/
LLM_API_VERSION=2025-01-01-preview
